
<html language="pt-br">
  <head>
    <meta charset='utf-8' />
    <script src='pt-br.js'></script>
    <link rel="stylesheet" type="text/css" href="css.css"/>
    <link rel='stylesheet' type="text/css" href='main.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src='main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale:'pt-br',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek'
          }, 

          navLinks: true, 
          editable: true,
          eventLimit: true,
          events: [
                    <% for(var i=0;i<resultado.length;i++){%>
                      {
                      <% var id=resultado[i].id%>
                      id: '<%= resultado[i].id %>',            
                      title: '<%= resultado[i].title %>',                      
                      color: '<%= resultado[i].color%>',
                      start:'<%= resultado[i].start%>',
                      end: '<%= resultado[i].end%>',
              
                    },<% }%>
                  ],
          extraParams: function(){
            return{
            cachebuster: new Date().valueof()
            };          
          },
          eventClick: function(info) {
            info.jsEvent.preventDefault();            
            $('#winmodal #id').text(info.event.id);
            $('#winmodal #id').val(info.event.id);
            $('#winmodal #title').text(info.event.title);
            $('#winmodal #title').val(info.event.title);
            $('#winmodal #start').text(info.event.start.toLocaleString());            
            $('#winmodal #end').text(info.event.end.toLocaleString());            
            $('#winmodal #color').val(info.event.backgroundColor);
            $('#winmodal').modal('show');
          },
          selectable:true,
          select: function(info) {
            $('#inserir #start').val(info.start.toLocaleString());
            $('#inserir #end').val(info.end.toLocaleString());
            $('#inserir').modal('show');
          }, 
          
        });
        $('.btn-canc-vis').on("click",function(){
            $('.detaevents').slideToggle();
            $('.formevents').slideToggle();
        });
        $('.btn-canc-edit').on("click",function(){
            $('.detaevents').slideToggle();
            $('.formevents').slideToggle();
        });
        calendar.render();
      });
           
    </script>   
  </head>
  <body id="body-agenda">


    <div id="container-heade-agenda">
      <div id="heade-log">
        <div id="titulo-agenda">
            <a href="/" class="ancora-agenda"><b>SchoolBuddy</b></a>
        </div> 

        <div id="menu-agenda">
          <a href="/" class="ancora-cab" >Home</a>&nbsp&nbsp
          <a href="/horarios" class="ancora-cab">Horarios</a>&nbsp&nbsp
          <a href="/pomodoro" class="ancora-cab">Pomodoro</a>&nbsp&nbsp
          <button class="entrar" id="logout"><b><a href="/logout" class="entrar">Deslogar</a></b></button>
        </div> 

      </div>
    </div>

        </br></br></br></br>


    <center><div id='calendar'></div></center>
    </br></br>
    

    <div class="modal fade" id="winmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="detaevents">
              <dl class="row">              
                <dt class="col-sm-3">Titulo</dt>
                <dd class="col-sm-9" id="title"></dd>
                <dt class="col-sm-3">Começo</dt>
                <dd class="col-sm-9" id="start"></dd>
                <dt class="col-sm-3">Término</dt>
                <dd class="col-sm-9" id="end"></dd>                
              <dl/> 
              <button type="button" class="btn btn-primary btn-canc-vis">Editar</button>
              <a href="/deletar/<%= id %>" id="excluir" class="btn btn-danger">Excluir</a>
            </div>  

            <div class="formevents">
              <form action="/editevento" method="POST">
                
                <div class="form-group row">               
                  <input type="hidden" class="form-control" id="id" name="id"> 
                
                  <label class="col-sm-2 col-form-label">Titulo</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Insira o titulo do evento"required>
                  </div>
                  <label class="col-sm-2 col-form-label">Cor</label>
                  <div class="col-sm-10">
                    <input type="color" class="form-control" id="color" name="color"required>
                  </div>
                  <label class="col-sm-2 col-form-label">Começo</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="start"  placeholder="0000-00-00 00:00:00">
                  </div>
                  <label class="col-sm-2 col-form-label">Término</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="end" placeholder="0000-00-00 00:00:00">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-primary btn-canc-edit">Cancelar</button>                  
                    <button type="submit" class="btn btn-primary" value="Inserir">Alterar</button>
                    
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="inserir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inserir evento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/evento" method="POST">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Titulo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" name="title" placeholder="Insira o titulo do evento"required>
                </div>
                <label class="col-sm-2 col-form-label">Cor</label>
                <div class="col-sm-10">
                  <input type="color" class="form-control" id="color" name="color"required>
                </div>
                <label class="col-sm-2 col-form-label">Começo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="start"  placeholder="0000-00-00 00:00:00"required>
                </div>
                <label class="col-sm-2 col-form-label">Término</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="end" placeholder="0000-00-00 00:00:00"required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">                  
                  <button type="submit" class="btn btn-primary" value="Inserir">Inserir</button>
                </div>
              </div>
            </form>    
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="rodape-info">
        <div id="div-logo" class="box">
            </br>
          <a href="/" class="ancora-agenda"><b>SchoolBuddy</b></a>
        </div>
        <div id="div-inicio" class="box">
          <h4>Início</h4>
          <a href="/" class="ancora">Home</a></br>
          <a href="#" class="ancora">Perfil</a>
        </div>
        <div id="div-sobre" class="box">
          <h4>Sobre</h4>
          <a href="#img-info" class="ancora">Informações</a></br>
          <a href="/contato" class="ancora">Contato</a></br>
        </div>
        <div id="div-suporte" class="box">
          <h4>Suporte</h4>
          <a href="#tel" class="ancora" id="tel" title="(11)997199728">Telefone</a></br>
          <a href="https://discord.gg/YX9z2SZ6" class="ancora">Chat</a></br>
          <a href="#" class="ancora">Redes Sociais</a>
        </div>
      </div>

      <div id="rodape-contato">
        <div id="copy">
        &copy;CopyRight/SchoolBuddy
        </div>
        <div id="quadro-icon">
          <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABg0lEQVRIie2UOzMDYRSGn/NFZlxiQ1ZKo1SGwl9A4wco/AqNVqEyRqM0o8cfMCONUbnMUKZiMAqza3cTGpI9CpJJMtm1Kzre6ptzed7znb3Av76RdAdc153UTHYbdB4YTcipgZbVmLWiZVUiDT7hA1dA4YcDe9Kol2zbvm8GTHv2c/LE8DdFroFj4AJ4BcY1k91qLxro7NH5JGRBTyQMVwqFwl0z5vjBGTAHuhBjkGjnL+F7drlYHHmMyFtxBgmkl034k+fNGmPWUYaA6V7V6Q1EbltHY1ZQluLKTVyyp1TDlkFI5rvyNDfYEPRa224QEu5lkFMARXbp2j90fQeOH2gUXYRFO58/6pW7UR0cDaqvfG1kYizf4qZfUQ/larWpKFZiA1UOHT94drxgpxlzfX/T8YNnCfU8qi/NM8gBIDrcMkWGgfG4pl9ZURqD2i8wgxgDLfdLV+h40zr/psasAV4ffNc06quRBkXLqkijXgI5AKopwFWFfWnUZ2zbfuhjwL+oD2RBfOwiTYJFAAAAAElFTkSuQmCC" class="icon"></a>
          <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAB10lEQVRIie2US3LTQBCGv54QscCxpoi8gGtg2LAJa0xxAzhDvCAUoaCKhyvemEPkAlCYC5AdTo6BN4iKZEM5VRbTLESCJI8f8Tr/Sv36/57p1sAVlkB8zvh09BhxuyBN4MYSjt8gA3X0Gjfrn5cKxMnoAHRvzX47ka3vzxXIO9ePl6Y1cl8yjDN6pEYeNer1/nnMlDPd7mXJASTDZP+aFUe7GDOV1Dt+Bj6pmp3sbFLLziY1VfcA4eK+ndEjY/RrbmmzXFpAnKQ6y67PI2u7Pt04SV6AvK/6Ixte8JpqsNp5ZG1XVYM4SbrxaTqM0/R7nIwOVDWIrO2g9BdRLBRQZz4A/EzHb0CeIdxCuQ26l/tAcb31BaaTk/xDn3iiTwHIsuO1BQpZvtn8ATDGeH/WlQRkczPfCJVDT+khgG5sNGdjqwoY0wbYDrdegXQRhghDkO52uPUaQFTaCzmKxpw13Y+s7fiK4zR9ifK26i+uaVVgDNRmNegrrqfT6QDABME9UWmr8NCjO45sWD83rlUOdAy6M1MitATTkuD6f825o5VB0SrNQB0Ld3oVqGiJoySQv+five/V2HnXCMMvRZf3oD9Go1b+KupdfDMp4xfINxXtVcmvsBL+AmgtrijZaFl5AAAAAElFTkSuQmCC" class="icon"/></a>
          <a href="https://discord.gg/YX9z2SZ6"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACgklEQVRIie2VPUxTYRSGn/Pd29YKXuCWViIjMZqIixo1Jhhn46aLA8FFVBJN/F0NMomJmrgYdTA6ODlqwmgwxkUdmPyLAwmpty39QQUt/Y5De7HKRYgy8k4nb877nvOd7w/W8L+YnNRkNptt+ZPPZrMtk5OaXE4vUeT09EyvmtoxRQ6iqIjcSLV795pzcqXScUHOAqLCU6fm3Pf91om/FlDVeKFcuQkMCPLQGq6bqsTUtQcUesSSAVBDIPBB5s0zG9OqsZxTtB94kGrzzohINfR0mwsUyuXzIKdU5QJGP4vVx+pIL9ropNGOaKMhxyJWJ6zIVVQ+CjpaKM98AkYXrSCXy22QWHwKaF1ursugMj83u6mrq+srgAlZ4yaOrII5gOcmkocXfMNAhf5VMK9DZGAhBAiCoNXEE9NAbJVKzNsf3zsymcwXA2Di8b1LmL9SI1uslf0K+ZBUyBsrfWpkK/AmQueaeHwPNEakKn1RbaiV4bTnvcv43rggd0NekDu+7z1Pe95bVIYjtQ3P+gqEXVFJxth1v0xtPDIWm4jSCuyExj1Q6InsAhkJpitZx9iNigw28YOFUullzZpA0ZEoLVL3FIB8qVwC2iIT/x3FzvY2Pzym6xcKC+OgQ82bugLkQIfq2gW0QHgPlNshq8puwLeu06voSWAMmFvsqbPAmKInaq6zHfAbWpo9pW6qJl+qXBbRiyDhExwgPKIau5ZKJbPFYrG7ZkwngKnVcr7vTxUKs1041UsIR4F0WFhVRjvbvSsiYn97TfP5b92486cRPYSyDXhdbPP2bRb5HjWX96qJjnLlBbADdALME606t9LplqllhxoEQetKPpSlPqQ1rBg/AVRV+uGlsMhMAAAAAElFTkSuQmCC" class="icon"/></a>
        </div>
      </div>

    </footer>
  </body>
</html>
